<app-css-loader [hidden]="!cssLoader"></app-css-loader>
<div *ngIf="!ismobilenav">
<div [hidden]="cssLoader">
    <div class="bg-[#1A191D]">
        <div class="flex justify-between items-center px-8 pb-4 pt-6 relative">
            <div>
                <p class="text-white text-3xl font-bold font-mono">Poonam Kumawat</p>
            </div>
            <div class="hidden md:flex justify-center gap-8 items-center">
                <p class="text-2xl text-white cursor-pointer font-mono">Home<span class="text-[#7544D7]">/></span></p>
                <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('about')">About<span
                        class="text-[#7544D7]">/></span></p>
                <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('Projects')">Projects<span
                        class="text-[#7544D7]">/></span></p>
                <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('skills')">Skills<span
                        class="text-[#7544D7]">/></span></p>
                <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('blogs')">Blogs<span
                        class="text-[#7544D7]">/></span></p>
                <button
                    class="font-mono px-6 py-2 border text-white text-xl rounded-[50px] border-[#7544D7] bg-[#7544D7] cursor-pointer font-bold"
                    [routerLink]="['/resume']">Resume</button>
            </div>
            <img (click)="onMobilenav()" class="md:hidden w-[30px] cursor-pointer bg-[#1A191D]"
                src="./../../../assets/menu.svg" />
    
        </div>
        <div *ngIf="ismobilenav" class="bg-[#1A191D] h-[100vh] w-full z-10  absolute md:hidden">
            <!-- <img class="w-[40px] cursor-pointer bg-[#1A191D] p-2 -ml-4" src="./../../../assets/close.svg" /> -->
            <div class="grid  gap-8 mt-6 p-6">
                <p class="text-2xl text-white cursor-pointer font-mono">Home<span class="text-[#7544D7]">/></span></p>
                <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('about')">About<span
                        class="text-[#7544D7]">/></span></p>
                <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('Projects')">Projects<span
                        class="text-[#7544D7]">/></span></p>
                <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('skills')">Skills<span
                        class="text-[#7544D7]">/></span></p>
                <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('blogs')">Blogs<span
                        class="text-[#7544D7]">/></span></p>
                <button
                    class="font-mono px-6 py-2 border text-white text-xl rounded-[50px] border-[#7544D7] bg-[#7544D7] cursor-pointer font-bold"
                    [routerLink]="['/resume']">Resume</button>
            </div>
        </div>
    </div>
<div class="md:px-10 bg-[#1A191D]">
 
<section class="md:h-screen bg-[#1A191D] ">
    <!-- Header -->
    <!-- <div class="flex justify-between items-center px-8 pt-6 sticky">
        <div>
            <p class="text-white text-3xl font-bold font-mono">Poonam Kumawat</p>
        </div>
        
        <div class="flex justify-center gap-8 items-center">
        <p class="text-2xl text-white cursor-pointer font-mono">Home<span class="text-[#7544D7]">/></span></p>
        <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('about')">About<span class="text-[#7544D7]">/></span></p>
        <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('Projects')">Projects<span class="text-[#7544D7]">/></span></p>
        <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('skills')">Skills<span class="text-[#7544D7]">/></span></p>
        <p class="text-2xl text-white cursor-pointer font-mono" (click)="scrollToSection('blogs')">Blogs<span class="text-[#7544D7]">/></span></p>
    <button class="font-mono px-6 py-2 border text-white text-xl rounded-[50px] border-[#7544D7] bg-[#7544D7] cursor-pointer font-bold" [routerLink]="['/resume']">Resume</button>    
    </div>
    </div> -->
    
    
    
    <!-- Section1 -->
    <div class="grid md:grid-cols-2 px-5 md:px-24 justify-center items-center">
        <div class="pt-28 md:pt-0r">
            <p class="text-white text-5xl mb-10 font-mono" >Hey, I'm Poonam Kumawat</p>
            <p class="text-white text-xl font-mono">A Result-Oriented Web Developer building and managing Websites and Web Applications that leads to the success of the
            overall product</p>
            <div class="flex gap-8 mt-10">
            <img class="w-[30px] h-[30px] cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125" src="./../../../assets/github.svg" />
            <img class="w-[30px] h-[30px] cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125" src="./../../../assets/linkedin.svg" />
            <img class="w-[30px] h-[30px] cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125" src="./../../../assets/medium.svg" />
            <img class="w-[30px] h-[30px] cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125" src="./../../../assets/x.svg" />
            </div>
            

        </div>
        <div>
            <img class="" src="./../../../assets/coding-animate.svg" />
                <!-- <img class="" src="./../../../assets/hand.svg" /> -->
                <!-- <div class="h-[300px] bg-[#000] rounded-[20px] border-white border z-10">
                </div> -->

        </div>
        
    </div>


    
</section>

<section class="md:h-screen bg-[#1A191D] pt-10 px-10  relative" id="about">


    <div class="flex justify-center items-center" >
    <p class="text-5xl text-white cursor-pointer font-mono">About Me<span class="text-[#7544D7]">/></span></p>
    </div>
    <div class="md:flex justify-between gap-20 py-8 md:p-10">
    <div class="text-white mb-10 md:mb-0">
        <p class="font-mono text-2xl mb-5" data-aos="fade-right">Get to Know me !</p>
        <p class="font-mono" data-aos="fade-right">I'm a Frontend Focused Web Developer building and managing the Front-end of Websites and Web Applications that leads to
        the success of the overall product. Check out some of my work in the Projects section.<br><br>
        I also like sharing content related to the stuff that I have learned over the years in Web Development so it can help
        other people of the Dev Community. Feel free to Connect or Follow me on my Linkedin and Instagram where I post useful
        content related to Web Development and Programming
        I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my
        skills and experience then don't hesitate to contact me.</p>
    </div>
    <div class=" w-[300px] md:w-[400px] bg-[#1A191D] p-4 border-[#ddd] border-[1px] rounded-2xl">
<div class="w-[300px] md:w-[400px] bg-[#1A191D] p-4  rotate-6 border-[#ddd] border-[1px] rounded-2xl" >
    
    <div class="">

        <p class="text-[#EEFF31] text-xs font-mono"><span class="text-[#5918DF]">class </span> PoonamKumawat<span
                class="text-[#ffffff]"> &#123;</span></p>
        <p class="text-[#ffffff] text-xs font-mono"><span class="text-[#5918DF]">constructor </span>&#40;&#41;<span
                class="text-[#ffffff]"> &#123;</span></p>
        <p class="text-[#E3244C]  text-xsfont-mono">this<span class="text-[#24E394]">.name</span><span
                class="text-[#E3244C]">&#61;</span><span class="text-[#24E394]">"Poonam Kumawat"</span><span
                class="text-[#ffffff]">&#59;</span></p>
        <p class="text-[#E3244C] text-xs font-mono">this<span class="text-[#24E394]">.dateOfBirth</span><span
                class="text-[#E3244C]">&#61;</span><span class="text-[#24E394]">"05012002"</span><span
                class="text-[#ffffff]">&#59;</span></p>
        <p class="text-[#E3244C] text-xs font-mono">this<span class="text-[#24E394]">.email</span><span
                class="text-[#E3244C]">&#61;</span><span
                class="text-[#24E394]">"mailpoonam2002&#64;gmail.com"</span><span class="text-[#ffffff]">&#59;</span>
        </p>
        <p class="text-[#ffffff] text-xs font-mono">&#125;</p>
        <p class="text-[#EEFF31] text-xs font-mono">workExperince<span class="text-[#ffffff]"> &#123;</span></p>
        <p class="text-[#ffffff] text-xs font-mono"><span class="text-[#5918DF]">return </span>&#91;</p>
        <p class="text-[#ffffff] text-xs  font-mono">&#123;<span class="text-[#24E394]">'2023 : Present'</span> : <span
                class="text-[#24E394]">'Junior Software Engineer'</span>&#125;&#59;</p>
        <p class="text-[#ffffff] text-xs font-mono">&#93;</p>
        <p class="text-[#ffffff] text-xs font-mono">&#125;</p>
        <!--  -->
        <p class="text-[#EEFF31] text-xs font-mono">education<span class="text-[#ffffff]"> &#123;</span></p>
        <p class="text-[#ffffff] text-xs font-mono"><span class="text-[#5918DF]">return </span>&#91;</p>
        <p class="text-[#ffffff] text-xs font-mono">&#123;<span class="text-[#24E394]">'2021 : 2023'</span> : <span
                class="text-[#24E394]">'Mumbai University- Master in Computer Applications'</span>&#125;,</p>
        <p class="text-[#ffffff] text-xs font-mono">&#123;<span class="text-[#24E394]">'2028 : 2021'</span> : <span
                class="text-[#24E394]">'Mumbai University- Bachelor in Information Technology'</span>&#125;,</p>
        <p class="text-[#ffffff]  font-mono">&#93;</p>
        <p class="text-[#ffffff]  font-mono">&#125;</p>
        <!--  -->
        <p class="text-[#EEFF31] text-xs font-mono">skills<span class="text-[#ffffff]"> &#123;</span></p>
        <p class="text-[#ffffff] text-xs font-mono"><span class="text-[#5918DF]">return </span>&#91;</p>
        <p class="text-[#ffffff] text-xs font-mono"><span
                class="text-[#24E394]">'HTML/CSS/JS','Angular','React','Nextjs',<br>'Bootstrap/Tailwind CSS',
                'Typescript', 'Git/Github'</span>
            &#59;</p>
        <p class="text-[#ffffff] text-xs font-mono">&#93;</p>
        <p class="text-[#ffffff] text-xs font-mono">&#125;</p>
        <p class="text-[#ffffff] text-xs font-mono">&#125;</p>

    </div>
</div>
    </div>
    </div>

</section>

<section class="md:h-screen bg-[#1A191D] px-10 pt-10" id="Projects">
    <div class="flex justify-center items-center">
        <p class="text-5xl text-white cursor-pointer font-mono">Projects<span class="text-[#7544D7]">/></span></p>
    </div>
    <div class="py-8 md:p-10 md:flex justify-between">
        <div data-aos="fade-up" class="md:w-[400px] mb-10 md:mb-0 bg-[#1A191D] hover:shadow-2xl hover:shadow-[#7544D7] p-6 border-[#ddd] border-[1px] rounded-2xl duration-200 ease-in-out hover:-translate-y-1">
         <p class="text-white text-3xl font-mono mb-6">Scape</p>
         <div class="flex gap-4 flex-wrap">
         <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Nextjs</p>
         <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Nestjs</p>
         <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Socket.io</p>
        <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">MongoDB</p>
    <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Tailwind CSS
    </p>
    </div>
        <p class="text-white font-mono text-[14px] mt-6">Scape is a cutting-edge chat application that brings people together through intuitive and dynamic communication
        features.</p>
        <div class="mt-6 cursor-pointer border-[#ddd] border-[1px] rounded-xl ">
            <img class="rounded-xl" src="./../../../assets/scape.svg" />
        </div>
    </div>
    <div data-aos="fade-up" class="md:w-[400px] mb-10 md:mb-0 bg-[#1A191D] hover:shadow-2xl hover:shadow-[#7544D7] p-6 border-[#ddd] border-[1px] rounded-2xl duration-200 ease-in-out hover:-translate-y-1">
        <p class="text-white text-3xl font-mono mb-6">Zest</p>
        <div class="flex gap-4 flex-wrap">
            <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Reactjs
            </p>
            <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Expressjs
            </p>
            <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">RazorPay
            </p>
            <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">MongoDB
            </p>
            <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Tailwind CSS
            </p>
        </div>
        <p class="text-white font-mono text-[14px] mt-6">Zest is a feature-rich ecommerce grocery website developed to provide users with a seamless shopping experience for
        their daily essentials.</p>
        <div class="mt-6 cursor-pointer border-[#ddd] border-[1px] rounded-xl ">
            <img class="rounded-xl" src="./../../../assets/zest.svg" />
        </div>
    </div>
    <div data-aos="fade-up" class="md:w-[400px] mb-10 md:mb-0 bg-[#1A191D] hover:shadow-2xl hover:shadow-[#7544D7] p-6 border-[#ddd] border-[1px] rounded-2xl    duration-200 ease-in-out hover:-translate-y-1">
        <p class="text-white text-3xl font-mono mb-6">YoutubeSave</p>
        <div class="flex gap-4 flex-wrap">
            <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Reactjs
            </p>
            <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Express js
            </p>
            <p class="bg-[#1A191D] border-[#ddd] py-2 px-4 border-[1px] rounded-[50px]  text-xs text-white font-mono">Tailwind CSS
            </p>
            
        </div>
        <p class="text-white font-mono text-[14px] mt-6">Scape is a cutting-edge chat application that brings people
            together through intuitive and dynamic communication
            features.</p>
        <div class="mt-6 cursor-pointer border-[#ddd] border-[1px] rounded-xl ">
            <img class="rounded-xl" src="./../../../assets/youtubesave.svg" />
        </div>
    </div>
        

    </div>
</section>

<section class="md:h-screen bg-[#1A191D] px-10 pt-10" id="skills">
<div class="flex justify-center items-center">
    <p class="text-5xl text-white cursor-pointer font-mono">Skills<span class="text-[#7544D7]">/></span></p>
</div>
    <div class="py-10 md:p-10">
        <div data-aos="fade-up" class=" grid grid-cols-3 gap-4 md:flex justify-evenly">
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7]  p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/Figma-logo.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">Figma</p>
            </div>

            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/html-5.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">Html</p>
            </div>
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/css.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">CSS</p>
            </div>
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/tailwind.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">Tailwind Css</p>
            </div>
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/react.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">Reactjs</p>
            </div>
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/angularjs.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">Angular</p>
            </div>
        </div>

        <div data-aos="fade-up" class="grid grid-cols-3 gap-4 md:flex justify-evenly mt-8">
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/nextjs.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">Nextjs</p>
            </div>
        
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/javascript.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">Javascript</p>
            </div>
            
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/cpp.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">CPP</p>
            </div>
            <div class="flex flex-col justify-center text-center">
                <div
                    class="group cursor-pointer bg-[#1e1f22] hover:grayscale-0 hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-4 md:p-12  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <img class="grayscale-[90%] group-hover:grayscale-0 " src="./../../../assets/TypeScript.svg" />
                </div>
                <p class="text-xl md:text-2xl mt-4 font-mono text-[#8750f7] hover:text-white">Typescript</p>
            </div>
            
        </div>
        
    </div>
</section>

<section class="md:h-screen bg-[#1A191D] px-10 pt-10" id="blogs">
    <div class="flex justify-center items-center">
        <p class="text-5xl text-white cursor-pointer font-mono">Blogs<span class="text-[#7544D7]">/></span></p>
    </div>
    <div class="py-10 md:p-10">
        <div class="md:flex justify-between gap-10">
            <div class="flex flex-col justify-center">
                <div class="mb-10 md:mb-0 group relative cursor-pointer bg-[#1e1f22] hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-2 md:p-6  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                   <span class="p-8 bg-[#7544D7]  absolute left-0 bottom-0 rounded-tr-[25px]"></span>
                   <span class="p-8 bg-[#7544D7] hidden md:block absolute right-0 top-0 rounded-bl-[25px]"></span>
                    <div class="flex md:px-4">
                    <img class="text-left w-[80px]" src="./../../../assets/Puppeteer.svg" />
                
                    <p class="text-xs md:text-2xl text-white font-mono mt-2">Web Scraping with Puppeteer creating Json file</p>
                    </div>
                <button class="float-end cursor-pointer rounded-[10px] font-mono px-10 py-2 mt-10 text-white text-xl bg-[#7544D7]">Read</button>
            </div>
                
                
            </div>    
            <div class="flex flex-col justify-center">
                <div
                    class="group relative cursor-pointer bg-[#1e1f22] hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7]  p-2 md:p-6  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <span class="p-8 bg-[#7544D7] absolute left-0 bottom-0 rounded-tr-[25px]"></span>
                    <div class="flex ">
                        <img class="text-left w-[80px]" src="./../../../assets/Github-logo.svg" />
            
                        <p class="text-xs md:text-2xl text-white font-mono mt-2">Git Made Simple: An Introduction to Basic Git Commands</p>
                    </div>
                    <button
                        class="float-end cursor-pointer rounded-[10px] font-mono px-10 py-2 mt-10 text-white text-xl bg-[#7544D7]">Read</button>
                </div>
            
            
            </div>
           
        </div>

        <div class="md:flex justify-between gap-10 mt-10">
            <div class="flex flex-col justify-center">
                <div
                    class="group mb-10 md:mb-0 relative cursor-pointer bg-[#1e1f22] hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-2 md:p-6  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <span class="p-8 bg-[#7544D7] absolute left-0 bottom-0 rounded-tr-[25px]"></span>
                    <div class="flex px-2 md:px-4 gap-4">
                        <img class="text-left w-[80px]" src="./../../../assets/medium.svg" />
        
                        <p class="text-xs md:text-2xl text-white font-mono mt-2">A New Era of AI: Introducing the Next Generation of Artificial Intelligence Tools</p>
                    </div>
                    <button
                        class="float-end cursor-pointer rounded-[10px] font-mono px-10 py-2 mt-10 text-white text-xl bg-[#7544D7]">Read</button>
                </div>
        
        
            </div>
            <div class="flex flex-col justify-center">
                <div
                    class="group relative cursor-pointer bg-[#1e1f22] hover:shadow-2xl hover:bg-[#2a1454] hover:border-[#8750f7] p-2 md:p-6  hover:border-[1px] rounded-[25px] duration-200 ease-in-out hover:-translate-y-1">
                    <span class="p-8 bg-[#7544D7] absolute left-0 bottom-0 rounded-tr-[25px]"></span>
                    <span class="p-8 bg-[#7544D7] hidden md:block absolute right-0 top-0 rounded-bl-[25px]"></span>
                    <div class="flex gap-4 md:px-4 ">
                        <img class="text-left w-[80px]" src="./../../../assets/Jenkins_logo.svg" />
        
                        <p class="text-xs md:text-2xl text-white font-mono mt-2">Maximizing Jenkins Efficiency: A Step-by-Step Guide to Setting up Master-Slave Configuration</p>
                    </div>
                    <button
                        class="float-end cursor-pointer rounded-[10px] font-mono px-10 py-2 mt-10 text-white text-xl bg-[#7544D7]">Read</button>
                </div>
        
        
            </div>
        
        </div>


    </div>
</section>
</div>

<section class="bg-[#1A191D]">
    <div class="border-t-2 border-white p-8">
        <p class="text-white text-xl font-mono">Poonam kunawat</p>
        <p class="text-white text-xl font-mono">mailpoonam2002&#64;gmail.com</p>
    </div>

</section>
</div>
