<!-- <p>resume works!</p> -->

<div class="bg-[#1A191D] dark:bg-[#F6F6F6]">
    <div class="p-4 mb-10">
        <img [routerLink]="['/']" class="w-[60px] cursor-pointer p-4 bg-[#bea5f0] rounded-[50px]" src="./../../../assets/arrow-left.svg" />
    </div>
 
    <div class="md:w-[50%] m-auto">
    <ngx-extended-pdf-viewer [src]="'assets/resume/poonamresume.pdf'" *ngIf="'assets/resume/poonamresume.pdf'" [showToolbar]="false"
        [showBorders]="false" 
        [backgroundColor]="'#1A191D'"
        [showVerticalScrollButton]="false" 
        [textLayer]="true" 
        [pageViewMode]="'infinite-scroll'"
        [zoom]="undefined"
        [height]="'100vh'"
       
            
        ></ngx-extended-pdf-viewer>
        </div>

        <div class="my-10 flex justify-center">
            <button (click)="downloadPdf()"
                class=" flex items-center font-mono px-6 py-2 border text-white text-xl rounded-md border-[#7544D7] bg-[#7544D7] cursor-pointer font-bold">
                Download
                <img class="w-[20px] ml-5 cursor-pointer fill-[#fff]" src="./../../../assets/download-circle-outline.svg" />
        
            </button>
        </div>

      <div class="mt-10">
<section class="bg-[#1A191D] dark:bg-[#F6F6F6]">
    <div class=" grid text-center md:flex justify-between items-center border-t-2 border-white p-8">
        <div class="">
            <p class=" dark:text-[#333] text-white text-xl font-mono">Poonam kumawat</p>
        </div>
        <p class="dark:text-[#333] text-white text-xl font-mono">Copyright © by poonam kumawat</p>
        <div class="flex gap-8 justify-center">
            <a href="https://github.com/poonam-kumawat" target="_blank"><img
                    class="w-[30px] h-[30px] cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125"
                    src="./../../../assets/github.svg" /></a>
                    <a href="mailto:mailpoonam2002@gmail.com" target="_blank"><img
                            class="w-[30px] h-[30px] z-50 cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125"
                            src="./../../../assets/mail.svg" /></a>
            <a href="https://www.linkedin.com/in/poonam-kumawat-473385194/" target="_blank"><img
                    class="w-[30px] h-[30px] cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125"
                    src="./../../../assets/linkedin.svg" /></a>
            <a href="https://poonamkumawat.medium.com/" target="_blank"><img
                    class="w-[30px] h-[30px] cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125"
                    src="./../../../assets/medium.svg" /></a>
            <a href="https://twitter.com/poonam__kumawat" target="_blank" href="https://twitter.com/poonam__kumawat"
                target="_blank"><img
                    class="w-[30px] h-[30px] cursor-pointer grayscale-[50%] hover:grayscale-0 hover:scale-125"
                    src="./../../../assets/x.svg" /></a>
        </div>
    </div>

</section>
      </div>

</div>


