<!-- <p>resume works!</p> -->
<div class="bg-[#1A191D]">
    <div class="md:w-[50%] m-auto">
    <ngx-extended-pdf-viewer [src]="'assets/resume/poonamresume.pdf'" *ngIf="'assets/resume/poonamresume.pdf'" [showToolbar]="false"
        [showBorders]="false" 
        [backgroundColor]="'#1A191D'"
        [showVerticalScrollButton]="false" 
        [textLayer]="true" 
        [pageViewMode]="'single'"
        [zoom]="undefined"
       
            
        ></ngx-extended-pdf-viewer>
        </div>

        <!-- [pageViewMode]="'infinite-scroll'" -->
</div>