/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: monospace;
}
::-webkit-scrollbar {
    width: 12px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #1A191D;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7544D7;
    border-radius:5px ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7544D7;
}